.marquee-container1,
.marquee-container2 {
    font-size: clamp(12px, 2.5vw, 18px);
    padding-block: clamp(10px, 3vw, 20px);
    overflow: hidden;
    user-select: none;
    --gap: clamp(15px, 4vw, 25px);
    display: flex;
    gap: var(--gap);
    background-color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    box-sizing: border-box;
}

.marquee-container1 {
    transform: rotate(-6deg) translateY(clamp(-35px, -4vw, -15px));
}

.marquee-container2 {
    transform: rotate(6deg) translateY(clamp(15px, 4vw, 35px));
}

.marquee-container1 ul,
.marquee-container2 ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    margin: 0;
    padding: 0;
}

.marquee-container1 ul {
    animation: scroll 20s linear infinite;
}

.marquee-container2 ul {
    animation: scroll-reverse 30s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes scroll-reverse {
    from {
        transform: translateX(calc(-100% - var(--gap)));
    }
    to {
        transform: translateX(0);
    }
}

.marquee-container1 li,
.marquee-container2 li {
    display: flex;
    align-items: center;
    gap: clamp(2px, 1vw, 6px);
    white-space: nowrap;
}

.marquee-container1 .name,
.marquee-container2 .name {
    font-family: 'Chakra Petch', sans-serif;
    font-size: clamp(1rem, 4vw, 2rem);
    padding-left: clamp(3px, 1vw, 8px);
    padding-right: clamp(4px, 1.2vw, 10px);
    font-weight: 400;
    color: white;
    white-space: nowrap;
}

.marquee-container1 .arrow,
.marquee-container2 .arrow {
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    .marquee-container1 {
        transform: rotate(-6deg) translateY(clamp(-30px, -2vw, -10px));
    }
    
    .marquee-container2 {
        transform: rotate(6deg) translateY(clamp(10px, 2vw, 30px));
    }
    
    .marquee-container1 ul {
        animation: scroll 30s linear infinite;
    }
    
    .marquee-container2 ul {
        animation: scroll-reverse 40s linear infinite;
    }
}

@media (max-width: 480px) {
    .marquee-container1,
    .marquee-container2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        --gap: clamp(10px, 5vw, 20px);
    }
    
    .marquee-container1 {
        transform: rotate(-6deg) translateY(clamp(-15px, -2vw, -8px));
    }
    
    .marquee-container2 {
        transform: rotate(6deg) translateY(clamp(8px, 2vw, 15px));
    }
    
    .marquee-container1 ul {
        animation: scroll 30s linear infinite;
    }
    
    .marquee-container2 ul {
        animation: scroll-reverse 40s linear infinite;
    }
}

@media (min-width: 1200px) {
    .marquee-container1 {
        transform: rotate(-6deg) translateY(-35px);
    }
    
    .marquee-container2 {
        transform: rotate(6deg) translateY(30px);
    }
}